In [9]:
# Import SQL Alchemy
from sqlalchemy import create_engine

In [10]:
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [11]:
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [12]:
# Create Surfer and Board classes
# ----------------------------------
class youtube(Base):
    __tablename__ = 'youtube_video'
    video_id = Column(String, primary_key=True)
    trending_date = Column(String(255))
    category_id = Column(String(255))
    views = Column(Integer)
    category = Column(String(255))
    likes = Column(Integer)
    dislikes = Column(Integer)
    comments_count = Column(String(255))

In [13]:
import csv
import pandas as pd

csv_path = "USvideos_sv2.csv"
yt_db = pd.read_csv(csv_path)
# Print the first five rows of data to the screen
yt_db.head()

,video_id,trending_date,category_id,views,category,likes,dislikes,comment_count
0,__1SjDrSMik,18.06.02,22,1578774,People & Blogs,155500,2005,9271
1,__-22AJoFxY,18.17.01,10,270838,Music,31167,83,1624
2,__4c1JCHvaQ,17.12.12,26,3645622,Howto & Style,188490,3598,20594
3,__Wd-iOZQ6k,18.31.01,23,1651882,Comedy,67621,1095,3924
4,_0ovuLsnU1A,18.26.02,24,2507969,Entertainment,40658,4659,9763

In [ ]:
engine_yt = 

for row in yt_db

In [6]:
# Create Database Connection
# ----------------------------------
# Establish Connection
engine_yt = create_engine("sqlite:///youtube.sqlite")
conn_yt = engine.connect()

videos = []

for row in yt_db
    video()

In [7]:
# Create both the Surfer and Board tables within the database
Base.metadata.create_all(conn)

In [8]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [9]:
# Add "Bruno" to the current session
session.add(surfer)
# Add "Awwwyeah" to the current session
session.add(board)
# Commit both objects to the database
session.commit()

In [10]:
# Query the database and collect all of the surfers in the Surfer table
surfer_list = session.query(Surfer)
for bro in surfer_list:
    print(bro.name)
    print(bro.hometown)
    print(bro.rank)

Bruno
LA
10
Bruno
LA
10